.dataCollectionContainer {
    width: 100%;
    height: 100vh;
    background-image: url('stars-bg.png');
}

.preferenceTitle{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
